img {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
}
.centered {
    font-weight: bold;
    -webkit-text-stroke: 1px black; /* width and color */
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}